.container{
    width: 100%;
    
}
nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center; 
    cursor: pointer;   
}
.ball{
    display: inline-flex;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #543EE0;
    margin-right: 0.5rem;
}
.title{
    flex: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
sup {
    align-self: flex-start;
}
.titlebig{
    font-size: 2rem;
    font-weight: 700;
    color: #543EE0;
}
nav ul{
    list-style-type: none;
    display : flex;
    flex: 1;
}
.navigation{
    justify-content: center;
    text-transform: capitalize;
    font-weight: 500;
}
.nav:not(:last-child){
    margin-right: 2.5rem;
}
.auth{
    display: inline-flex;
    justify-content: center;
    font-weight: 550;
}
.authlist{
    padding: 0.6rem 1.3rem;
}
.authlist:nth-child(1){
    border: 1px solid #543EE0;
    border-radius: 5px;
}
.authlist:nth-child(2){
    background-color: #543EE0;
    border-radius: 5px;
    color: aliceblue;
}
.auth li:not(:last-child){
    margin-right: 3rem;
}
.hero{
    width: 100%;
    height: calc(100vh - 70px); 
    position: relative;
    /* background: rgba(0, 0, 0, 0.55); */
    overflow: hidden;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/images/landinghero.jpg'); /* Add your image URL here */
    background-size: cover;
    filter: brightness(0.55); /* Darkening effect on the image */
    /* z-index: -1;  */
}

/* .hero_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
} */
.herocontent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: start;
    color: #FFFFFF;
    width: 70%;
    z-index: 1;
}
.herohead{
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.herotext{
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    opacity: 0.7;
    margin-bottom: 3rem;
}
.herobutton{
    width: 157px;
    height: 56px;   
    padding: 8px 16px; 
    background-color: #543EE0;
    color: #FFFFFF;   
    border: none;
    border-radius: 5px;
    font-size: 18px;
}
.about{
    width: 90%;
    height: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.aboutcontent{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.abouthead{
    font-size: 30px;
    font-weight: 500;
    line-height: 54px;
    text-transform: capitalize;
    margin-bottom: 2rem;;
    align-self: flex-start;
}
.abouttext{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    opacity: 0.6;
}
.aboutimg{
    flex: 1;
    display: inline-flex;
    justify-content: center;
}
.aboutimg img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}
.join{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto 4rem auto;
}
.joinhead{
    font-weight: 500;
    font-size: 40px;
    line-height: 72px;
    margin-bottom: 1rem;
}
.jointext{
    width: 80%;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 2rem;
}
.joincontent{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.joincontent article{
    flex: 1;
    max-width: 280px;
    padding: 2%;
    height: 300px;
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.joincontent article:not(:last-child){
    margin-right: 4rem;
}
.joincontent h1{
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}
.logo{
    background: rgba(214, 209, 248, 0.2);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.3rem;
}
.feedbacks{
    width: 100%;
    background: rgba(255, 237, 204, 0.5);
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.feedback{
    width: 90%;
    margin: 0 auto;
}
.feeds{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.feedsImage{
    flex: 1;
}
.feedsImage img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.feedsdesc{
    flex: 2;
}
.desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 3rem;
}
.name{
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 3rem;
}
.name span{
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
}
.feeds button{
    width: 150px;
    height: 50px;
    background: #543EE0;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}
.feeds button:focus{
    outline: none;
}
.feedactive{
    display: inline-flex;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #543EE0;
}
.feedinactive{
    display: inline-flex;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #543EE0;
}
.feedactive, .feedinactive:not(:last-child){
    margin-right: 1rem;
}
.radio{
   position: absolute;
   bottom: 10px;
   left: 120px;
}
.share{
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.shares{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: start;
}
.imagebox{
    flex: 1;
    max-width: 320px;
    height: 90%;
    max-height: 400px;
    position: relative;
}
.imagebox img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
}
.imagebox img:nth-child(1){
    left: 0;
    top: 0;
}

.imagebox img:nth-child(2){
    right: 0;
    top: 30%;
}
.imagebox img:nth-child(3){
    left: 0;
    bottom: 0;
}
.sharecontent{
    flex: 2;
    height: 80%;
    margin-left: 5rem;
}
.content{
    width: 90%;
}
.shareHead{
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 1rem;
}
.shareText{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 3rem;
}
.share button{
    width: 140px;
    height: 45px;
    font-size: 16px;
    background: #543EE0;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}
.share button:focus{
    outline: none;
}
.footer{
    width: 100%;
    height: 350px;
    background: color-mix(in srgb, #FFEDCC 50%, white);

}
.footerdetails{
    width: 85%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
}
.appName{
    flex: 1;
    margin-top: 2rem;
}
.appdetails{
    flex: 3;
    display: flex;
    justify-content: space-between;
}
.appdetails ul{
    list-style: none;
}
.detailHead{
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 2rem;
}
.appNameHead{
    font-weight: 500;
    font-size: 40px;
    line-height: 72px;
    color: #543EE0;
    cursor: pointer;
}
.appNameHead sup{
    font-size: 15px;
    margin-right: 2px;
    color: black;
}
.appdetails ul li{
    margin-bottom: 0.5rem;
    font-weight: 200;
    font-size: 16px;
    line-height: 27px;
    cursor: pointer;
}

/* responsveness for mobile 480px */
@media screen and (max-width: 480px) {
    nav{
        padding: 0 1%;
        width: 100%;
        height: 50px;
    }
    .navigation{
        display: none;
    }
    .title{
        flex: 0.3;
    }
    .ball{
        width: 13px;
        height: 13px;
      
    }
    .titlebig{
        font-size: 1.1rem;
    }
    .auth{
        font-size: 12px;
        display: inline-flex;
        justify-content: end;
    }
    .auth li:not(:last-child){
        margin-right: 1rem;
    }
    .hero{
        height: calc(100vh - 50px); 
        /* margin-bottom: 1rem; */
    }
    .herohead{
        font-size: 28px;
        font-weight: 700;
        line-height: 35px;
        margin-bottom: 2rem;
    }
    .herotext{
        font-size: 14px;
        font-weight: 300;
        line-height: 26px;
        opacity: 0.7;
        margin-bottom: 3rem;
    }
    .herobutton{
        width: max-content;
        line-height: normal;
        height: 38px;   
        padding: 0.6rem 1.3rem;
        font-size: 15px;
        margin: 0 auto;
    }
    .herocontent{
        text-align: center;
    }
    .about{
        width: 95%;
        height: auto;
        margin-bottom: 2rem;
    }
    .aboutcontent{
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .abouthead{
        font-size: 30px;
        font-weight: 700;
        line-height: 54px;
        text-transform: capitalize;
        margin-bottom: 1rem;;
        align-self: flex-start;
    }
    .abouttext{
        font-size: 15px;
        line-height: 27px;
        margin-bottom: 1rem;
    }
    .aboutimg img{
        width: 350px;
        height: 250px;
    }
    .join{
        width: 95%;
        /* margin: 1rem auto 4rem auto; */
        margin: 0 auto;
    }
    .joinhead{
        font-weight: 700;
        font-size: 30px;
        line-height: 42px;
        margin-bottom: 1rem;
    }
    .jointext{
        width: 95%;
        font-size: 15px; 
    }
    .joincontent{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .joincontent article{
        flex: 1;
        min-width: 250px;
        padding: 2%;
        height: 300px;
        border: 1px solid #D0D0D0;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .joincontent article:not(:last-child){
        /* margin-right: 4rem; */
        margin: 0 auto 1rem auto;
    }
    .joincontent h1{
        margin-bottom: 1rem;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
    }
    .feedbacks{
        width: 100%;
        background: rgba(255, 237, 204, 0.5);
        height: 350px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;
    }
    .feedback{
        width: 98%;
        height: 90%;
        margin: 0 auto;
        display: inline-flex;
        align-items: center;
    }
    .feeds{
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: 100%;
        height: 100%;
    }
    .feedsImage{
        flex: 1;
    }
    .feedsImage img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
    .feedsdesc{
        flex: 2;
        /* max-width: 200px; */
       height: 70%;
    }
    .desc{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        width: 100%;
        height: 60%;
       
    }
    .name{
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 1rem;
    }
    .name span{
        font-weight: 300;
        font-size: 15px;
        line-height: 27px;
    }
    .feeds button{
        width: 150px;
        height: 35px;
        background: #543EE0;
        border-radius: 5px;
        border: none;
        color: #FFFFFF;
        cursor: pointer;
    }
    .feeds button:focus{
        outline: none;
    }
    .feedactive{
        display: inline-flex;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #543EE0;
    }
    .feedinactive{
        display: inline-flex;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: white;
        border: 2px solid #543EE0;
    }
    .feedactive, .feedinactive:not(:last-child){
        margin-right: 1rem;
    }
    .radio{
       position: absolute;
       bottom: 10px;
       left: 45%;
    }
    .share{
        width: 100%;
        height: auto;
        /* display: flex;
        flex-wrap: wrap;
        align-content: center; */
    }
    .shares{
        width: 97%;
        /* height: 80%; */
        height: auto;
        margin: 0 auto;
        display: block;
        flex-wrap: wrap;
        align-content: center;
        align-items: start;
    }
    .imagebox{
       
       /* min-width: 100%; */
       width: 280px;
        height: 350px;
        margin: 1rem auto;
        position: relative;
    }
    .imagebox img{
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
        position: absolute;
    }
    .imagebox img:nth-child(1){
        left: 0;
        top: 0;
    }
    
    .imagebox img:nth-child(2){
        right: 0;
        top: 30%;
    }
    .imagebox img:nth-child(3){
        left: 0;
        bottom: 0;
    }
    .sharecontent{
        flex: 1;
        width: 100%;
        height: 230px;
        margin: 2rem auto;
    }
    .content{
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
    .shareHead{
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 1rem;
    }
    .shareText{
        font-weight: 300;
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 2rem;
    }
    .share button{
        width: 140px;
        height: 35px;
        font-size: 14px;
        background: #543EE0;
        border-radius: 5px;
        border: none;
        color: #FFFFFF;
        cursor: pointer;
    }
    .share button:focus{
        outline: none;
    }
}