.feedContainer{
    min-width: 630px;
    width: 100%;
    height: auto;
    overflow-y: scroll;
    padding-bottom: 20px;
    /* background-color: black; */
}
.feedHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.feeds_container{
    width: 100%;
    border: 1px solid #ccc;
    min-height: 100%;
    height: 100%;
}
.feeds_sec{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feeds_sec span{
    width: 100%;
    height: 100%;
    padding: 2%;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
}
.feeds_display{
    width: 90%;
    height: auto;
    margin: 2rem auto;
}
.head_desc{
    font-size: 12px;
    opacity: 0.5;
}
.feedHead_left h1{
    margin-bottom: 0.5rem;
    font-weight: 400;
}
.feed_button button{
    padding: 10px;
    background-color: #543EE0;
    color: white;
    border: none;
    border-radius: 5px;
}
.feed_button button span{
    margin-right: 3px;
    color: inherit;
}
.new_feed_link{
    color: inherit;
    text-decoration: none;
}
.eachpost_main{
    width: 100%;
    height: auto;
    margin: 2rem 0;
}
.post_button{
    width: 100%;
    text-align: end;
    margin: 2rem 0;
}
.new_post_button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    background-color: #543EE0;
    color: white;
    border: none;
    border-radius: 5px;
}
.new_post_button span{
    color: white ;
}
.title_input{
    width: 100%;
}
.title_input input{
    width: 100%;
    border: none;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
}
.title_input input:focus{
    border: none;
    outline: none;

}
.feed_head{
    display: flex;
    align-items: center;
    height: 75px;
    margin-bottom: 1rem;
    position: relative;
}
.post_menu{
    opacity: 0.5;
    position: absolute;
    right: 10px;
    top: 10px;
    
}
.post_menu_display{
    position: absolute;
    right: 10px;
    top: 30px;
    opacity: 0.3;
    width: 100px;
    height: 60px;
    font-size: 14px;
    cursor: pointer;
}
.post_menu_display_none{
    position: absolute;
    right: 10px;
    top: 30px;
    opacity: 0.3;
    width: 100px;
    height: 60px;
    font-size: 14px;
    cursor: pointer;
    display: none;
}
.self_menu_lists{
    list-style-type: none;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
}
.self_menu_list{
    width: 100%;
    height: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.self_menu_list:hover{
    background: #543EE0;
    color: white;
}
.self_menu_list:not(:last-child){
    border-bottom: 1px solid black ;
    cursor: not-allowed;
}
.non_self_menu_lists{
    list-style-type: none;
    width: 100%;
    height: 50%;
    border: 1px solid black;
    border-radius: 5px;
}
.non_self_menu_list{
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
}
.non_self_menu_list:hover{
    background: #543EE0;
    color: white;
}
.image_profile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    height: 60%;
}
.profile_desc{
    /* opacity: 0.5; */
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.profile_desc p{
    opacity: 0.5;
}
.profile_time{
    display: inline-flex;
    font-size: 12px;
    margin-left: 1rem;
    opacity: 1 !important;
}
.timestamp{
    opacity: 1 !important;
}
.feed_title h2{
    font-weight: 500;
    font-size: 20px;
}
.feed_title div{
    display: flex;
    align-items: center;
    font-weight: 100;
    font-size: 12px;
    margin-top: 0.5rem;
}
.feed_title div span{
    margin-right: 5px;
}
.profile_body{
    margin: 0.6rem 0;
    line-height: 30px;
    font-size: 14px;
    font-weight: 100;
    min-height: 30%;
}
.profile_info{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 1rem 0;
 
}
.profile_info div{
    display: flex;
}

.info_icon{
    margin-right: 0.3rem;
}
.back{
    display: inline-flex;
    align-items: center;
    color: #543EE0;
    cursor: pointer;
    margin-bottom: 1rem;
    font-weight: 400;
}
.back span{
    margin-right: 5px;
}
.post{
    margin-bottom: 2.5rem;
}
.full_post{
    width: 100%;
    /* min-height: 100%; */
    height: auto;
    /* border: 1px solid #543EE0; */
    position: relative;
    /* margin-bottom: 2.5rem; */
}
.comment_sec{
    min-height: 10rem;
    position: relative;
    border: 0.5px solid #ccc;
    background-color: #f6f4f4;
    padding: 2%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.comment_lists{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding-bottom: 45px;
    height: 200px;
    overflow-y: scroll ;
}
.com_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-content: center;
    flex-wrap: wrap;
}
.com_list span{
    display: inline-flex;
    align-items: center;
}
.com_image, .com_like{
    width: 10%;
}
.com_image{
    text-align: end;
    justify-content: center;
}
.com_info{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.com_name{
    font-size: 10px;
    opacity: 0.5;
    margin-bottom: 5px;
}
.com_main{
    font-size: 14px;
}
.comment{
    position: absolute;
    bottom: 5px;
    left: 5%;
    width: 100%;
    display: flex;
    align-items: center;
}
.send{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 60px;
    background-color: #543EE0;
    border-radius: 5px;
    border: none;
    padding: 5px ;
}
.com_input{
    width: 80%;
    padding: 7px 5px;
    border-radius: 10px;
    border: none;
}
.see_more{
    color: #543EE0;
    text-decoration: none;
}
.post_image{
    width: 100%;
    height: 300px;
    object-fit: cover;
    
}
.post_profile{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}
.currentView{
    background-color: rgba(152, 173, 249, 0.2);
}
.foryou_main{
    width: 100%;
    /* background-color: rgba(116, 92, 210, 0.3); */
}
.full_post_line{
    /* position: absolute; */
    /* bottom: 100px; */
}
.full_header{
    width: 100%;
    height: 40%;
    margin: -4% 0% 10px -0%;
    /* margin: -20% -30px; */
}
.full_header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.full_header_dummy{
    width: 100%;
    height: 100%;
    background-color: #ccc;
}

.full_profile_info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 2rem 0 0 0;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    /* position: absolute; */
    bottom: 2px;
}
.full_profile_info div{
    display: flex;
}
.load_more{
    width: max-content;
    padding: 8px 5px;
    margin: 0 auto;
    border: 2px solid rgba(116, 92, 210, 0.3);
    border-radius: 8px;
    cursor: pointer;
    color: #543EE0;
    font-size: 13px;
}
.load_more:hover{
    background: #543EE0;
    color: #fff;
}